$blue: #0074e4;
$black: #494949;
$lightBlack: #464646;
$grey: #b2b4bb;
$lightGrey: #767676;
$bdcolor: #eeeeee;
$bgcolor: #f8f8f8;
$red: #f71d54;
$orange:#ff9700;
$fontGrey:#bbb;
a {
  color: $black;
  text-decoration: none;
}
body {
  background: $bgcolor;
//   display: flex;
//   -webkit-display:flex;
//   flex-direction:column;
//   min-height: 100vh
}
.router-link-active {
  color: $black;
  text-decoration: none;
}
.btn-blue {
  color: #fff;
  background: $blue;
}
@function rem($px) {
  $default-font-size: 75px;
  @return ($px / $default-font-size) + rem;
}
@mixin icon($w, $h) {
  display: inline-block;
  width: rem($w);
  height: rem($h);
  vertical-align: middle;
  background-size: 100%;
  background-repeat: no-repeat;
}
@mixin box-shadow($shadow...) {
    -webkit-box-shadow: $shadow;
    -moz-box-shadow: $shadow;
    box-shadow: $shadow;
}
a {
  padding: 0;
}
.wrap {
  padding-left: rem(30px);
  padding-right: rem(30px);
}
.whitebg{
    background: #fff
}
.container{
    // flex: 1;
    padding-top: rem(95px);
    margin-top: -1px;
    padding-bottom: 50px;
    font-size: rem(30px);
    overflow: hidden;
}
// .bottombtn{
//     width: 100%;
//     border-radius: 0;
// }
.flex {
  display: flex;
  align-items: center;
  .rest {
    flex: 1;
  }
}
.textright{
    text-align: right;
    vertical-align: middle
}
.textcenter{
    text-align: center;
}
.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.none {
  padding-top: rem(30px);
  text-align: center;
  font-size: rem(28px);
  color: $grey;
}
.inblock {
  display: inline-block;
}
.card{
    background: #fff;
    color: #686868;
    border-radius: rem(10px);
    font-size: rem(30px);
    padding: 0 rem(40px);
}
.van-button--bottom-action{
    position: fixed;
    bottom:0;
    left: 0;
    right: 0;
}
.van-cell{
    padding-top: rem(35px);
    padding-bottom: rem(35px);
    font-size: rem(30px);
}
.van-field--disabled .van-field__control{
    color: $black
}